<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="notification">
<div id="notificationSidebar" class="notification-sidebar">
  <div class="sidebar-header d-flex justify-content-between align-items-center px-3 py-2">
    <h5 class="mb-0" style="color:#1E73BE">알림<span class="badge rounded-pill bg-warning" th:text="${noticeCount}">00</span></h5>
    <button class="btn-close" onclick="closeSidebar()" aria-label="Close"></button>
  </div>
  <div class="sidebar-body px-3">
    <!-- 반복적으로 알림 아이템들 넣기
         각 알림에 대한 스타일링 분기 ${alertClass}, 알림 메시지 분기 th:switch="${notice.type}" -->
    <div class="alert" th:each="notice : ${notices}"
      th:with="alertClass=${notice.isRead} ? 'alert-secondary' : 
            (${#strings.startsWith(notice.type, 'TRAVEL')} ? 'alert-info' : 
            (${#strings.startsWith(notice.type, 'CHAT')} ? 'alert-warning' : 
            (${#strings.startsWith(notice.type, 'REVIEW')} ? 'alert-success' : 
            (${#strings.startsWith(notice.type, 'SECURITY')} ? 'alert-danger' : 'alert-dark'))))"
      th:classappend="${alertClass}">
      <a class="text-decoration-none" th:href="@{/notifications/read(id=${notice.id})}">
        <p class="text-truncate mb-1" th:text="${notice.title}">알 수 없는 알림입니다.</p>
        <p th:switch="${notice.type}" class="text-secondary-emphasis text-truncate mb-1">
          <th:block th:case="'TRAVEL_UPLOADED'">여행 등록이 완료되었습니다.</th:block>
          <th:block th:case="'TRAVEL_REQUEST'">여행 참가 신청이 왔습니다.</th:block>
          <th:block th:case="'TRAVEL_ACCEPT'">여행 참가가 수락되었습니다.</th:block>
        </p>
      </a>
    </div>
    <!-- <div class="alert alert-info"><a class="text-decoration-none" href="/schedule/detail?id=3">
      <p class="text-truncate mb-1">도쿄 3박 4일 먹거리 여행도쿄 3박 4일 먹거리 여행</p>
      <p class="text-secondary-emphasis text-truncate mb-1">여행 등록이 완료되었습니다.</p></a>
    </div>
    <div class="alert alert-warning">여행 일정이 곧 시작됩니다.</div> -->
  </div>
</div>

<!-- Sidebar Overlay -->
<div id="sidebarOverlay" class="sidebar-overlay" onclick="closeSidebar()"></div>
</th:block>
</html>