<th:block>
  <!-- CSS (스타일링) -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <!-- JavaScript (기능) -->
  <script src="/js/jquery-3.7.1.min.js"></script>
  <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script src="/js/bootstrap.bundle.min.js"></script>


  <script th:src="@{/js/nouislider.min.js}"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  로컬방식에서 cdn 방식으로 변경 충돌나면 주석 포함 기존거 지워주시고 아래거 살려주세요 -->
  <script th:src="@{/js/Sortable.min.js}"></script>

  <script defer src="/js/main.js"></script>
</th:block>