<th:block>
  <!-- CSS (스타일링) -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <!-- JavaScript (기능) -->
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <script defer src="/js/main.js"></script>
</th:block>