<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clean}">
	
<head>
<th:block layout:fragment="head">
  <meta charset="UTF-8">
  <title>Find Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{/css/member.css}">
  </th:block>
</head>



<body class="bg-gradient-custom min-vh-100">
<th:block layout:fragment="content">
  <div class="login-container">
  	<a class="navbar-brand logo-text text-decoration-none" href="/">
     <img src="/image/icon.png"alt="Wakutabi" height="50" class="me-2">
    </a>
    <h4 class="mb-4">비밀번호 찾기</h4>

    <form>
      <input type="text" class="form-control" placeholder="아이디 입력">
      <input type="text" class="form-control" placeholder="이름 입력">
      <input type="text" class="form-control" placeholder="이메일 입력">
      <button type="submit" class="btn login-btn w-100 mb-3">비밀번호 찾기</button>
      <a href="#" class="link-custom">로그인</a>
      <a href="#" class="link-custom">회원가입</a>
    </form>
  </div>
</th:block>
  <footer>
    <!--  <p>Copyright © 2025 Wakutabi Co.,Ltd. All Rights Reserved.</p>-->
  </footer>
</body>
</html>