<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clean}">
	
<head>
<th:block layout:fragment="head">
  <meta charset="UTF-8">
  <title>Wakutabi Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{/css/member.css}">
  <style>
    

    
    
  </style>
  </th:block>
</head>



<body class="bg-gradient-custom min-vh-100">
<th:block layout:fragment="content">
  <div class="login-container">
     <img src="/image/icon.png"alt="Wakutabi" height="50" class="me-2">
    <h4 class="mb-4">Login</h4>

    <form>
      <input type="text" class="form-control" placeholder="아이디 입력">
      <input type="password" class="form-control" placeholder="패스워드 입력">
      <button type="submit" class="btn login-btn w-100 mb-3">로그인</button>
      <div class="form-check text-start">
        <input type="checkbox" class="form-check-input" id="keepLogin">
        <label class="form-check-label" for="keepLogin">로그인 상태 유지</label>
      </div>
      <a href="/signup" class="link-custom">회원가입</a>
      <a href="#" class="link-custom">아이디/비밀번호 찾기</a>
    </form>
  </div>
</th:block>
  <footer>
    <!--  <p>Copyright © 2025 Wakutabi Co.,Ltd. All Rights Reserved.</p>-->
  </footer>
</body>
</html>