<!DOCTYPE html>

<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clean}">

<head>
<th:block layout:fragment="head">
  <meta charset="UTF-8">
  <title>Wakutabi signup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{/css/member.css}">
  </th:block>
</head>

<body class="bg-gradient-custom min-vh-100">
<th:block layout:fragment="content">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
          <div class="text-center">
            <!-- <div class="b-icon">W</div> -->
            <img src="/image/icon.png"alt="Wakutabi" height="50" class="me-2">
            <h3 class="mb-4">Sign Up</h3>
          </div>

          <form th:action="@{/user/signup}" method="post">
            <!-- 아이디 -->
            <div class="mb-3">
              <input type="text" name="username" id="username" class="form-control form-control-lg"
                     placeholder="아이디 입력해 주세요">
              <small id="id-check-msg" class="text-danger"></small>
            </div>

            <!-- 비밀번호 -->
            <div class="mb-3">
              <input type="password" name="password" id="password" class="form-control form-control-lg"
                     placeholder="패스워드 입력해 주세요">
            </div>

            <!-- 이름 -->
            <div class="mb-3">
              <input type="text" name="name" id="name" class="form-control form-control-lg"
                     placeholder="이름을 입력해 주세요">
            </div>

            <!-- 이메일 -->
            <div class="mb-3">
              <input type="email" name="email" id="email" class="form-control form-control-lg"
                     placeholder="이메일을 입력해 주세요">
            </div>

            <!-- 제출 버튼 -->
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-warning btn-lg">회원가입</button>
            </div>

            <!-- 링크들 -->
            <div class="text-center">
              <a href="/login" class="link-custom">로그인</a>
              <a href="#" class="link-custom">아이디/비밀번호 찾기</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>
<footer>
    <!--  <p>Copyright © 2025 Wakutabi Co.,Ltd. All Rights Reserved.</p>-->
  </footer>

<!-- Ajax 스크립트
  <script>
    $("#username").on("blur", function () {
      const username = $(this).val();
      $.ajax({
        url: "/user/check-username",
        data: { username },
        success: function (result) {
          if (result === "exist") {
            $("#id-check-msg").text("이미 사용중인 아이디 입니다");
          } else {
            $("#id-check-msg").text("사용 가능한 아이디 입니다");
          }
        }
      });
    });
  </script> -->
</body>
</html>
