<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.ChatMapper">
  <select id="findChatRoomsByUserId" parameterType="java.lang.Long" resultType="com.wakutabi.domain.ChatRoomDto">
    SELECT
        r.id AS id,
        u.nickname AS nickname,  -- users 테이블의 닉네임 컬럼 추가
        p.role,
        ta.title,
        latest_message.user_id AS latest_user_id,
        latest_message.message AS latest_message,
        latest_message.created_at AS latest_message_time
    FROM
        chat_participants p
    INNER JOIN
        users u ON p.user_id = u.id  -- users 테이블 조인
    INNER JOIN
        chat_room r ON p.chat_room_id = r.id
    INNER JOIN
        trip_article ta ON r.trip_article_id = ta.id
    LEFT JOIN
        (
            SELECT
                user_id,
                chat_room_id,
                message,
                created_at,
                ROW_NUMBER() OVER(PARTITION BY chat_room_id ORDER BY created_at DESC) as rn
            FROM
                chat_message
        ) AS latest_message ON p.chat_room_id = latest_message.chat_room_id AND latest_message.rn = 1
    WHERE
        p.user_id = 5 AND p.status = 'ACTIVE'
    ORDER BY
        p.created_at;
  </select>
</mapper>