<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.ChatParticipantsMapper">
    <!-- 여행 등록시 호스트 채팅 참가자 테이블에 INSERT -->
    <insert id="addUserToChatHost" parameterType="map">
        INSERT INTO chat_participants (chat_room_id, user_id, role)
        VALUES (#{chatRoomId}, #{hostId}, 'HOST')
    </insert>
    <!-- 여행수락 받은 사람들 채팅참가자 테이블에 INSERT -->
    <insert id="addUserToChatParticipants" parameterType="map">
        INSERT INTO chat_participants (chat_room_id, user_id)
        VALUES (#{chatRoomId}, #{applicantUserId})
    </insert>
    <!-- 여행종료 때 리뷰 보낼 기간만료까지 남아있던 참가자들ID 구하기 -->
    <select id="findParticipantsStayedUntilEnd" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT cp.user_id
        FROM chat_participants cp
        JOIN chat_room cr
        ON cp.chat_room_id = cr.id
        JOIN trip_article ta
        ON cr.trip_article_id = ta.id
        WHERE ta.id = #{travelArticleId}
        AND cp.created_at &lt;=  ta.recruit_end_date
        AND (cp.deleted_at IS NULL OR cp.deleted_at > ta.recruit_end_date)
        AND cp.status = 'COMPLETED'
    </select>
    <!-- 여행 취소된 채팅 참가자들 상태 '취소' 변경 -->
    <update id="updateStatusToCanceled">
        UPDATE chat_participants
        SET status = 'CANCELED'
        WHERE chat_room_id IN(
            SELECT id FROM chat_room WHERE trip_article_id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        )
        AND status = 'ACTIVE'
    </update>
    <!-- 여행 종료된 채팅 참가자들 상태 '완료' 변경 -->
    <update id="updateStatusToCompleted">
        UPDATE chat_participants
        SET status = 'COMPLETED'
        WHERE chat_room_id IN(
        SELECT id FROM chat_room WHERE trip_article_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
        AND status = 'ACTIVE'
    </update>
    <!-- 여행별 ACTIVE 참가자 수 반환 -->
    <select id="countActiveParticipantsByTripArticleId" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(*) FROM chat_participants cp
        JOIN chat_room cr ON cp.chat_room_id = cr.id
        WHERE cr.trip_article_id = #{tripArticleId}
        AND cp.status = 'ACTIVE'
    </select>
</mapper>