<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.NotificationMapper">
  <insert id="insertNotification" parameterType="com.wakutabi.domain.NotificationDto">
    insert into system_notification
    (user_id, type, title, link
    <if test="travelArticleId != null">
    , travel_article_id
    </if>
    )
    VALUES
    (#{userId}, #{type}, #{title}, #{link}
    <if test="travelArticleId != null">
    , #{travelArticleId}
    </if>
    )
  </insert>
  
  <select id="findNotificationsById" parameterType="java.lang.Long" resultType="com.wakutabi.domain.NotificationDto">
    select * from system_notification
    where user_id = #{userId} order by is_read asc, created_at desc
  </select>

  <select id="findNotificationById" parameterType="java.lang.Long" resultType="com.wakutabi.domain.NotificationDto">
    select * from system_notification
    where id = #{notificationId}
  </select>

  <update id="updateReadStatus" parameterType="java.lang.Long">
    UPDATE system_notification
    SET is_read = TRUE
    WHERE id = #{notificationId}
  </update>

  <select id="countNotificationsByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT count(*) as count FROM system_notification WHERE is_read = 0 and user_id = #{userId}
  </select>
</mapper>