<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.ReviewMapper">

    <!-- 리뷰에 쓰일 여행내용과 참가자들 ResultMap에 반환-->
    <select id="getTripAndParticipantsForReview" resultMap="ReviewTravelResultMap">
        SELECT
            ta.id AS tripId,
            ta.start_date AS startDate,
            ta.end_date AS endDate,
            ta.location,
            cp.user_id AS reviewedUserId,
            u.username,
            u.image_path AS imagePath
        FROM trip_article ta
        LEFT JOIN chat_room cr
            ON ta.id = cr.trip_article_id
        LEFT JOIN chat_participants cp
            ON cr.id = cp.chat_room_id AND cp.status = 'COMPLETED'
        LEFT JOIN users u
            ON cp.user_id = u.id
        WHERE ta.id = #{tripId}
    </select>
    <resultMap id="ReviewTravelResultMap" type="ReviewTravelDto">
        <id property="tripId" column="tripId"/>
        <result property="startDate" column="startDate"/>
        <result property="endDate" column="endDate"/>
        <result property="location" column="location"/>
        <collection property="reviewUsers" ofType="ReviewUserDto">
            <result property="reviewedUserId" column="reviewedUserId"/>
            <result property="username" column="username"/>
            <result property="imagePath" column="imagePath"/>
        </collection>
    </resultMap>
    <!-- 중복 작성 방지를 위한 리뷰 갯수 카운트 확인 -->
    <select id="countExistingReview" parameterType="map">
        SELECT count(*)
        FROM trip_reviews
        WHERE user_id = #{userId} AND trip_article_id = #{tripId}
    </select>
    <!-- 여행리뷰 DB에 저장 -->
    <insert id="insertTravleReview"  parameterType="com.wakutabi.domain.ReviewTravelDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        trip_reviews
        (user_id, trip_article_id, rating, title, content, is_public, created_at)
        VALUES
        (#{userId}, #{tripId}, #{rating}, #{title}, #{content}, #{isPublic}, NOW())
    </insert>
    <!-- 여행사진 DB에 저장 -->
    <insert id="insertTravleReviewImage" >
        INSERT INTO
        trip_reviews_image
        (trip_reviews_id, image_path)
        VALUES
        (#{reviewId}, #{fileName})
    </insert>
    <!-- 참가자리뷰 DB에 저장 -->
    <insert id="insertUserReview" parameterType="com.wakutabi.domain.ReviewUserDto">
        INSERT INTO
        user_by_user_review
        (user_id, reviewed_user_id, rating)
        VALUES
        (#{reviewId}, #{reviewedUserId}, #{userRating})
    </insert>
    <!-- 리뷰 불러오기 -->
    <select id="getReviewList" resultMap="ReviewListResultMap">
        SELECT
            tr.id,
            tr.rating,
            tr.title,
            tr.content,
            tr.created_at AS createdAt,
            u.nickname,
            COALESCE(u.image_path,'/image/member.png') AS reviewerImagePath,
            ri.image_path AS imagePath
        FROM trip_reviews tr
        JOIN users u
            ON tr.user_id = u.id
        LEFT JOIN trip_reviews_image ri
            ON ri.trip_reviews_id = tr.id
        WHERE trip_article_id = #{tripId}
        ORDER BY tr.created_at DESC
    </select>
    <resultMap id="ReviewListResultMap" type="ReviewTravelDto">
        <id property="id" column="id"/>
        <result property="rating" column="rating"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="createdAt"/>
        <result property="nickname" column="nickname"/>
        <result property="reviewerImagePath" column="reviewerImagePath"/>
        <collection property="images" javaType="ArrayList" ofType="ReviewImageDto">
            <result property="imagePath" column="imagePath"/>
        </collection>
    </resultMap>
</mapper>