<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.TravelEditMapper">

    <insert id="insertTravelEdit" parameterType="com.wakutabi.domain.TravelEditDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO trip_article
        (host_user_id, location, start_date, end_date, maxParticipants,
         age_limit, gender_limit, title, content, estimated_cost, status)
        VALUES
        (#{hostUserId}, #{location}, #{startDate}, #{endDate}, #{maxParticipants},
         #{ageLimit}, #{genderLimit}, #{title}, #{content}, #{estimatedCost}, #{status})
    </insert>
    <!-- 여행id로 호스트id 구하기 -->
    <select id="hostIdFindById" resultType="Long">
        SELECT host_user_id from trip_article where id = #{id}
    </select>

 	<select id="findById" resultType="com.wakutabi.domain.TravelEditDto">
        SELECT * FROM trip_article WHERE id = #{id}
    </select>
    
    <select id="selectTravels" resultType="com.wakutabi.domain.TravelEditDto" parameterType="map">
    SELECT *
    FROM trip_article
    <where>
        <if test="query != null and query != ''">
            AND (title LIKE CONCAT('%', #{query}, '%') OR content LIKE CONCAT('%', #{query}, '%'))
        </if>

        <if test="minPrice != null and maxPrice != null">
            AND estimated_cost BETWEEN #{minPrice} AND #{maxPrice}
        </if>

        <if test="region != null and region != ''">
            AND location = #{region}
        </if>

        <if test="startDate != null and endDate != null">
            AND start_date &gt;= #{startDate}
            AND end_date &lt;= #{endDate}
        </if>

        <!-- 다중 태그 검색 -->
        <if test="tagsList != null and tagsList.size() > 0">
            AND id IN (
                SELECT trip_article_id
                FROM trip_tag_mid_trip_article m
                JOIN trip_tag t ON m.trip_tag_id = t.id
                WHERE t.tag_name IN
                <foreach collection="tagsList" item="tag" open="(" separator="," close=")">
                    #{tag}
                </foreach>
            )
        </if>

        <!-- 그룹 사이즈 필터 -->
        <if test="groupSize != null and groupSize.size() > 0">
            AND (
                <foreach collection="groupSize" item="size" separator=" OR ">
                    <choose>
                        <when test="size == 'small'">maxParticipants BETWEEN 2 AND 4</when>
                        <when test="size == 'medium'">maxParticipants BETWEEN 5 AND 8</when>
                        <when test="size == 'large'">maxParticipants >= 9</when>
                    </choose>
                </foreach>
            )
        </if>
		
		<if test="status != null and status != ''">
            AND status = #{status}
        </if>
        
    </where>
    ORDER BY created_at DESC
</select>
	
</mapper>
