<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.TravelDeadlineMapper">
    <!-- 여행참가 신청 -->
    <update id="travelDealineChange" parameterType="MAP">
        UPDATE travel_article ta
        JOIN chat_room cr
        ON ta.id = cr.trip_article_id
        JOIN (
            SELECT chat_room_id, COUNT(id) AS cnt
            FROM chat_participants
            WHERE status = 'ACTIVE'
            GROUP BY chat_room_id
        ) cp
            ON cr.id = cp.chat_room_id
        SET ta.status = 'CLOSED'
        WHERE ta.maxParticipants = cp.cnt;
        AND ta.id = #{travelArticleId}
        AND cr.id = #{chatRoomId}
    </update>
</mapper>
