<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.TravelDeadlineMapper">
    <!-- 인원 다 찼을 때 마감처리 -->
    <update id="travelDeadlineMaxparticipants" parameterType="MAP">
        UPDATE trip_article ta
        JOIN chat_room cr
        ON ta.id = cr.trip_article_id
        JOIN (
            SELECT chat_room_id, COUNT(id) AS cnt
            FROM chat_participants
            WHERE status = 'ACTIVE'
            GROUP BY chat_room_id
        ) cp
            ON cr.id = cp.chat_room_id
        SET ta.status = 'CLOSED'
        WHERE ta.maxParticipants = cp.cnt
        AND ta.id = #{travelArticleId}
        AND cr.id = #{chatRoomId}
    </update>
    <!-- 방장이 마감 눌렀을 때 -->
    <update id="travelDeadlineHostClick" parameterType="Long">
        UPDATE trip_article
        SET status = 'CLOSED'
        WHERE id = #{travelArticleId}
        AND status = 'OPEN'
    </update>
    <!--기간만료 자동마감 -->
    <update id="autoCloseExpiredArticles" parameterType="Long">
        UPDATE trip_article
        SET status = 'CLOSED'
        WHERE status = 'OPEN'
        AND NOW() >= recruit_end_date
    </update>

</mapper>