<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakutabi.mapper.UserMapper">
	
	
	<select id="countByUsername" resultType="int">
		select count(*) from users where username = #{username}
	</select>
	
	
	<insert id="insertUser" parameterType="com.wakutabi.domain.SignUpDto">
		insert into users (username,password,nickname,birth,email) values 
		(#{username},#{password},#{nickname},#{birth},#{email})
	</insert>
	<select id="findByUsername" resultType="com.wakutabi.domain.LoginDto">
		select * from users where username=#{username}
	</select>

	<!-- 유저Id 받기 -->
	<select id="getUserInfo" parameterType="String" resultType="com.wakutabi.domain.UserUpdateDto">
		SELECT 
			id,
			username,
			nickname,
			birth,
			email,
			rating,
			gender,
			introduce
		from users 
		where username = #{username}
	</select>

	<!-- 유저 정보 수정  -->
	<update id="userInfoUpdate" parameterType="com.wakutabi.domain.UserUpdateDto">
		UPDATE users
		SET
        	email      = #{email},
			birth 	   = #{birth},
			gender	   = #{gender},	
			is_public  = #{isPublic},
        	introduce  = #{introduce},
        	updated_at = NOW()
	</update>

	<!-- 현재 비밀번호 가져오기 -->
	<select id="findPasswordByUsername" parameterType="String" resultType="String">
		select password from users where username = #{username}
	</select>
	
	<!-- 회원 비밀번호 변경 -->
	<update id="userPasswordUpdate" parameterType="com.wakutabi.domain.UserPasswordUpdateDto">
		UPDATE users
		SET
		 password = #{newPassword},
		 updated_at = NOW()
		where username = #{username} 
	</update>

</mapper>